{%extends 'base.html'%}
<html>
{%block title%}
<strong>
<h2>Calendar</h2>
<h3> you have used {{user.profile.hourtotal}}hours, {{user.profile.hourallowance}} hours remaining</h3>
</strong>
<div style="vertical-align:top; float: centered; position: relative; left: 44%"> You're schedueling the {{ equipment }},</div>
<a href="/EquipmentSchedule/select_calendar/" class="btn btn-default" style = "vertical-align:top; float: centered; position: relative; left: 45%">Schedule something else?</a>
{%endblock%}
{%block content%}

  <head>

{%load static%}
{%load tz%}
<link rel="stylesheet" href="{%static 'EquipmentSchedule/fullcalendar/fullcalendar.css'%}" type="text/css"/>
<script src="{%static 'EquipmentSchedule/fullcalendar/jquery.min.js'%}"></script>
<script src="{%static 'EquipmentSchedule/fullcalendar/moment.min.js'%}"></script>
<script src="{%static 'EquipmentSchedule/fullcalendar/fullcalendar.js'%}"></script>

<!--begin CSS for modal-->
<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
<!-- end CSS for modal-->

<div id= 'calendar'></div>
<div id = 'popup' class = "modal">

<div class="modal-content">

  <span class="close">&times;</span>
    <p> everything look good? </p>
    <form id = "create_appt">
      {% csrf_token %}
    <input id = "opperator" type="text" name="opperator" value = {{ opperator }} readonly>
    <input id = "start_value" type = "datetime" name = "start">
    <input id = "slot_duration" type = "datetime" name = "end">
    <input list="equipment_list" id = "machine" name = "machine" value = {{ equipment }} readonly>
 <datalist id="equipment_list">
   <option value="PPMS">
   <option value="Dyancool">
   <option value="IonMill">
 </datalist>
    <input id = "myBtn" type = "submit" value = "Schedule me!">
    </form>
  </div>

</div>

<script>

$(document).ready(function() {

  $('#calendar').fullCalendar({
    header:{
    right:'month agendaWeek agendaDay',
    left: 'prev,next',
    },
    defaultView: 'agendaWeek',
    selectable: true,
    selecthelper: true,
    editable: true,
    eventlimit: true,
    timezone: "UTC",

    events: [

      {%for event in event_list%}

      {
      editable : false,
      start : '{{event.start_time|date:"m-d-Y H:i"}}',
      title : '{{event.make_title}}',
      end : '{{event.make_end_time|date:"m-d-Y H:i"}}',
      url : '/EquipmentSchedule/Calendar/view_event/?id={{event.id}}',
      },

      {% endfor %}

    ],
    eventOverlap: false,
    select: function(start,end){
      modal.style.display = "block";
      var duration = moment.duration(end.diff(start))
      duration = duration.asHours()
      document.getElementById('start_value').value = start
      document.getElementById('slot_duration').value = duration
    },
    dayClick: function(date){
      alert(date.format())
    },


  });
});

// Get the modal
var modal = document.getElementById('popup');

// Get the button that opens the modal


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var btn  = document.getElementById('myBtn');
// When the user clicks on the button, open the modal





// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
var postURL = "/EquipmentSchedule/Calendar/create/"
var start = document.getElementById('start_value');
var end = document.getElementById('end_value');
var machine = document.getElementById('machine');
var values = [start,end,machine];
var jsonvalues = JSON.stringify(values);

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$(document).on('submit','#create_appt',function(e){
    e.preventDefault();
  $.ajax({
    type:"POST",
    url:postURL,
    data: {
      start:$('#start_value').val(),
      duration:$('#slot_duration').val(),
      machine:$('#machine').val(),
      opperator:$('#opperator').val()
    },
      success: function(result){
        if (result['NoHours']) {
      alert('You are out of Hours! you have NOT been schedueled, Contact Admin, or wait until next week!');
      location.reload();
    } else if (result['Overlap']){
      alert('that event conflicts with another users time, no dice!');
      location.reload();
    } else{
      alert('you are all set, you will recieve an emial shortly');
      location.reload();
    }


    },

  });
 modal.style.display = "none";
 var event = {
     editable : false,
     start : start,
     title : 'test',
     end : end,
   };
 $('#calendar').fullCalendar('renderEvent',event,true);
 modal.style.display = "none";
});

</script>
</html>
{%endblock%}
